@charset "UTF-8";

.title {
	margin-top: 50px;
}

.lbtn {
	margin-top: 10px;
}

.id{
	display: inline-block;
}

/*管理者ID*/
.idname {
	display: inline-block;
	margin-left: 100px;
}

/*ログアウト*/
.logout {
	display: inline-block;
}